<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles/revenue.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Your+Custom+Font&display=swap"
      rel="stylesheet"
    />
    <title>Dépenses - Gestion de Budget</title>
  </head>
  <body>
   
    <%- include('./sideBar') %>
    <main>
      <section class="transaction-form">
        <h2>Ajouter une nouvelle Dépense</h2>
        <form action="/depense" method="POST">
         
            <div class="group">      
              <input type="text" name="Description" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Description</label>
            </div>
              <div class="group">      
                <input type="number" min="0" name="montant" step="0.1" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Montant</label>
              </div>
            
                <div class="group">      
                  <input type="date" name="date"  required>
                  <span class="highlight"></span>
                  <span class="bar"></span>

                  
                </div>
              
                <div class="group">      
                  <div class="box">
                    <select id="category" name="category">
                      <option value="">Sélectionner une catégorie...</option>
                       <option  value="alimentation">Alimentation et épicerie</option>
                       <option  value="logement">Logement </option>
                       <option value="transport">Transport</option>
                       <option value="santé">Santé</option>
                       <option value="loisirs">Loisirs et divertissement </option>
                       <option value="epargne">Épargne et investissements</option>
                       <option value="autre">autres</option>
                     </select>
                     
                  </div>
                </div>
          <button type="submit" >Ajouter</button>
        </form>
      </section class='listeR'>
        <h1>Liste des Depenses</h1>
        <%- include('./table', { type: 'depenses', data: Depense }) %>
        </section>
    </section>
    </main>
  </body>
</html>
