<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    <title>Web Design Mastery | Camp</title>
  </head>
  <body>
    <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="#">Coin Kepper</a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT US</a></li>
        <div class="container__left">
          <div class="container__btn">
            <button class="btn">login</button>
          </div>
        </div>
      </ul>
    </nav>
    <div class="container">
      <div class="container__left">
        <h1>save your money</h1>
        <div class="container__btn">
          <a href="/auth" class="btn">Register Now</a>
        </div>
      </div>
      <div class="container__right">
        <div class="images">
          <img src="assets/gestion.jpg" alt="tent-1" class="tent-1" />
          <img src="assets/gestion-budget.jpg" alt="tent-2" class="tent-2" />
        </div>
        <div class="content">
          <h2>Coin Kepper</h2>
          <h3>Your Experience to save money</h3>
          <p>
            Prenez le contrôle de vos finances avec notre solution de gestion de
            budget. Suivez, planifiez et optimisez vos dépenses en toute
            simplicité pour atteindre vos objectifs financiers avec confiance.
          </p>
        </div>
      </div>
      <div class="location">
        <span><i class="ri-map-pin-2-fill"></i></span>
        OUR LOCATION
      </div>
      <div class="socials">
        <span>
          <a href="#"><i class="ri-facebook-fill"></i></a>
        </span>
        <span>
          <a href="#"><i class="ri-instagram-line"></i></a>
        </span>
        <span>
          <a href="#"><i class="ri-twitter-fill"></i></a>
        </span>
      </div>
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
